{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 70
        },
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-vue-jsx"
  ]
}